/*
=============== 
Variables
===============
*/
:root {
  --clr-primary: #ffffff;
  --clr-secondary: #888888;
  --clr-active-link: #e62b4a;

  --spacing: 0.1rem;
  --radius: 0.25rem;

  --transition: all 0.5s;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Oswald", sans-serif;
}

/*
==================
Typography
==================
*/
li {
  list-style: none;
  display: inline;
  margin-right: 2rem;
}

a {
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

p {
  color: var(--clr-secondary-2);
  margin-bottom: 1rem;
}

button {
  background-color: var(--clr-button);
  font-size: 1.1rem;
  padding: 1rem 2rem;
  border: none;
  letter-spacing: var(--spacing);
  border-radius: var(--radius);
  font-weight: bold;
}

section {
  padding: 9rem 0;
}

/*
==================
Header
==================
*/
header {
  position: absolute;
  width: 100%;
  padding: 4rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.menu li.active a {
  color: var(--clr-active-link);
}

.menu li:hover a {
  color: var(--clr-active-link);
}

.menu li a {
  transition: var(--transition);
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
}

.logo span {
  font-size: 3rem;
  margin-left: 0.5rem;
}

/*
==================
Carousel
==================
*/
#carousel {
  background-image: url("./image/home_slider.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__content {
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.carousel__content p {
  font-size: 2.5rem;
}

.carousel__content h1 {
  font-size: 7.5rem;
}

.carousel__content button {
  background-color: var(--clr-active-link);
  color: white;
  font-size: 2rem;
  margin-top: 2rem;
  padding: 1.5rem 2.5rem;
  border: none;
  cursor: pointer;
  transition: var(--transition);
}

.carousel__content button:hover {
  background-color: #af2239;
}

.arrow__down {
  margin-top: 4rem;
}

/*
==================
Service
==================
*/
#service {
  background-color: black;
  color: white;
  text-align: center;
}

.service__content {
  width: 80%;
  margin: 0 auto;
}

.service__content p:first-child {
  color: var(--clr-active-link);
  font-size: 2rem;
}

.service__content p:last-child {
  color: var(--clr-secondary);
  font-size: 2rem;
  font-weight: 700;
}
.service__content h1 {
  font-size: 5rem;
  margin: 2rem;
}

.service__slider {
  margin: 12rem;
}

.slider__content {
  display: flex;
  margin: 0 auto;

  text-align: center;
  justify-content: space-evenly;
}

.slider__item {
  background-color: white;
  color: var(--clr-secondary);
  margin: 1rem;
  margin-bottom: 3rem;
  padding: 4rem;
  cursor: pointer;
  position: relative;
}

.slider__item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1rem;
  height: 0;
  background-color: red;
  transition: all 0.5s;
}

.slider__item:hover::after {
  height: 100%;
}

.slider__content i {
  font-size: 5rem;
}

.slider__content p {
  margin-top: 1rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.slick-dots li button::before {
  border-radius: 50%;
  color: gray;
  font-size: 2rem;
}

.slick-dots li.slick-active button::before {
  color: var(--clr-active-link);
}
